<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anatolykravchenko.kipcalculator">

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@drawable/sensor80"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sensor80"
        android:supportsRtl="true"
        android:name=".di.App"
        android:theme="@style/Theme.KIPCalculator">

        <activity android:name=".presentation.mainActivity.MainActivity"
            android:exported="true"
           android:screenOrientation="nosensor"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.anatolykravchenko.kipcalculator.presentation.currentLoop.CurrentLoopActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".presentation.rtd.RtdActivity"
            android:screenOrientation="nosensor"/>

    </application>

</manifest>